
body{
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  transform: translateY(-50%);
}

.App form input[type] {
  height: 100px;
  width: 900px;
  padding: 20px;
border-radius: 46px;
border: none;
outline: none;
font-size: larger;
}

